* {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  scroll-behavior: smooth;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montaga', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: $text-primary;
}
