.header {
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-name {
      margin: 20px 40px;
      color: $text-primary;
      cursor: pointer;
      text-decoration: none;
      position: relative;

      @media screen and (max-width: 1400px) {
        margin: 20px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }

      &::after {
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $text-primary;
        content: "";
        transition: width 0.3s ease-out;
      }
  
      &:hover::after {
        width: calc(100% - 2 * #{1px});
      }
    }
  }

  &__logo {
    padding: 0;
    margin: 0;
    cursor: default;

    &-wrapper {
      width: 104px;
      height: 104px;
    }
  }
}