.itinerary {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__wedding-day-wrapper {
    display: flex;
    justify-content: center;
  }

  &__heading {
    font-size: 56px;
    color: $venue-heading;
    padding-top: 30px;
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__days {
    display: flex;
    padding: 20px;

    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }

  &__day-button {
    padding: 15px 28px;
    border: none;
    background-color: $background-color;
    cursor: pointer;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      bottom: 7px;
      left: 25px;
      width: 0;
      height: 1px;
      background-color: $text-primary;
      content: "";
      transition: width 0.3s ease-out;
    }

    &:hover::after {
      width: calc(100% - 2 * #{25px});
    }

    @media screen and (max-width: 768px) {
      padding: 0;
      max-width: 78px;
      margin: 0 5px;
    }

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  &__active-button {
    // padding: 15px 28px;
    border: none;
    background-color: $background-color;
    color: $venue-heading;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      max-width: 78px;
      margin: 0 5px;
    }
  }
}

.wedding-day {
  // width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__wrapper {
    display: grid;
    grid-template-columns: 180px 1fr 1fr;

    @media screen and (max-width: 768px) {
      grid-template-columns: 120px 1fr;
      padding: 0 30px 0;
    }
  }

  &__time {
    color: $primary;
    padding: 0 40px 0;
    margin: 17px 0 0;
    width: 220px;

    @media screen and (max-width: 768px) {
      padding: 0;
      font-size: 16px;
    }
  }

  &__todo-heading {
    color: $venue-heading;
    font-size: 32px;
    margin: 0;
  }

  &__todo-text {
    padding-left: 40px;

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }
}
