.our-story {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    color: $text-white;
    background-color: $primary-second;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__heading {
    font-size: 101px;
    line-height: 101px;
    padding: 0 120px;

    @media screen and (max-width: 768px) {
      font-size: 56px;
      padding: 0;
    }
  }

  &__text-wrapper {
    padding: 40px 80px;

    @media screen and (max-width: 768px) {
      padding: 0 30px;
    }
  }

  &__text {
    margin: 25px 0;
    font-size: 22px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin: 0 0 25px;
    }
  }

  &__img {
    width: 100%;
  }
}